<style>
            a:link {
                color: white;
            }
            a:visited {
                color : white;
            }
            a {
                text-decoration-line: none;
            }
            body {
                /* background-image: url('Computer.jpg');*/
                font-family: 'Quattrocento', serif;
                background-color: black;
                margin: 0;
                color: white;
            }
           
            h1 {
                display: inline-block;
                margin: 30px;
            }
             h3 {
                margin-top: 50px;
                text-align: center;
            }
            #Word {
            margin-left: 250px;
            margin-top: 250px;
            }
            #Word1 {
                margin-left: 250px;
                margin-top: 50px;
            }
            #menu1 {
                background: black;
                height 50px;
            }
            #menu1 ul{
                margin: 0 auto;
            }
            #menu1 #main>li {
                float: left;
                width: 25%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                background: black;
                position:relative;
            }
            #menu1 #main>li:hover #sub {
                display: block;
            }
            #menu1 #main>li a {
                display: block;
            }
            #menu1 #main>li a:hover {
                background-color: white;
                color: red;
            }
            #menu1 #main #sub {
                position: absolute;
                top:50px;
                left:0;
                width:70%;
                display: none;
            }
            menu1 #main #sub li {
                background: white;
            }
            menu1 #main #sub li a:hover {
                background: white;
            }
            #Computerimg {
                margin: 30px;
            }
            img {
                width: 350px;
                height: 400px;
                margin: 100px;
                margin-top: 200px;
            }
           
                
        
        </style>