<style>

img {

    width : 600px;
}
a {
color:black;
text-decoration-line: none;
}
body {
margin: 30px;
}
h1 {
color: red;
font-size: 45px;
text-align: center;
border-bottom: solid gray 1px;
margin: 0px;
padding : 20px;
}
h2 {
color : black 45px;
}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol {
font-size: 30px;
border-right: 1px solid gray;
width : 100px;
margin : 0;
padding: 20px;
}
@media(max-width:800px) {
  #grid {
    display: block; }
  #grid ol {
  border-right: none; }
  h1 {
    border-bottom: none;
  }
}

</style>
